
<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/驾驶员门马达/动作测试</div>
</div>
<div class="body" style="overflow: hidden">
   <!-- <div class="sub-header" ng-bind="obdscanServiceZdata.obdscanData[obdscanServiceZdata.actionType][0]"></div>
    <div class="action-box">说明：{{obdscanServiceZdata.obdscanData[obdscanServiceZdata.actionType][1]}}</div>
    <div class="action-box">可用命令和预测结果：{{obdscanServiceZdata.obdscanData[obdscanServiceZdata.actionType][2]}}</div>
    <div class="action-box">执行条件：{{obdscanServiceZdata.obdscanData[obdscanServiceZdata.actionType][3]}}</div>
    <div class="btnwrap">
        <button class="confirm" ng-click="changeTemplate('actiontest','action','1')"></button>
        <button class="cancel" ng-click="changeTemplate('obdscan4','obdscan2','1')"></button>
    </div>-->
    <div id="draggable3">
        <span id="gooff"> <b>off</b></span>
        <div class="gooff_left cursor-pointer" onmousedown="mouseleft()" onmouseup="mouseUp()">
            <img src="framework/obdscan/images/btn-s.png" width="44" height="44"></div>
        <div class="gooff_right cursor-pointer" onmousedown="mouseright()" onmouseup="mouseUp()" >
            <img src="framework/obdscan/images/btn-s.png" width="44" height="44"></div>
    </div>
</div>
