<div class="header">
     <div class="header1">小车匠诊断仪</div>
     <div class="header2">汽车诊断</div>
</div>
<div class="body">
     <ul class="car-list">
          <li >柴油共轨系统</li>
          <li >电动助力转向系统</li>
          <li >ABS控制系统</li>
          <li >定速巡航系统</li>
          <li >防盗系统</li>
          <li >中控锁系统</li>
          <li >安全气囊</li>
          <li style="cursor: pointer" ng-click="changeTemplate('obdscan2','car')">驾驶员门马达</li>
          <li >车身控制系统</li>
          <li >空调系统</li>

     </ul>
</div>
