<!--
	作者：zyj1416357451@sina.com
	时间：2015-12-01
	描述：发动机控制系统  的  动作测试
-->
<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/发动机控制系统/动作测试</div>
</div>
<div class="body">
    <ul class="car-list">
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','1');actionTest('py','lay1');">喷油量测试</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','1');actionTest('krbcgq','lay2');">空然比传感器测试</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','0');actionTest('tgdcf','lay3');">碳罐电磁阀测试</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','1');actionTest('ryb','lay3');">燃油泵测试</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','1');actionTest('lqfs','lay3');">冷却风扇测试</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','1');actionTest('qdjdq','lay3');">起动继电器测试</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','1');actionTest('jqm','lay3');">节气门开启/关闭测试</li>

        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','');actionTest('jqzstjf','lay5');">进气正时调节阀测试</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','');actionTest('pqzstjf','lay5');">排气正时调节阀测试</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','');actionTest('qgdy','lay4');">汽缸断油测试</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','');actionTest('SLTdcf','lay3');">SLT电磁阀测试</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','');actionTest('S1dcf','lay3');">S1电磁阀测试</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','');actionTest('S2dcf','lay3');">S2电磁阀测试</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','');actionTest('szdcf','lay3');">锁止电磁阀测试</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','');actionTest('SLdcf','lay3');">SL电磁阀测试</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','');actionTest('hdw','lay3');">换档位置测试</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','');actionTest('STdcf','lay3');">ST电磁阀测试</li>
    </ul>
</div>