<div class="switch-meter " ng-controller="dashboardCtrl" >
	<div class="switch z-index-14 switch-btn">
	    <div class="switch">
	        <div class="key" ></div>
	        <span class="key-lock z-index-20 cursor-pointer" ng-mousedown="stallsAngle($event.target,1);"></span>
	        <span class="key-acc z-index-20 cursor-pointer" ng-mousedown="stallsAngle($event.target,2);"></span>
	        <span class="key-on z-index-20 cursor-pointer" ng-mousedown="stallsAngle($event.target,3);"></span>
	        <span class="key-start z-index-20 cursor-pointer" ng-mousedown="stallsAngle($event.target,4);"></span>
	    </div>
	</div>
</div>
