/*周玉杰(zyj) 2015-6-12*/
/*reset css*/
@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,p{margin:0;padding:0;border:none;background: none;}
input,button,select,textarea{outline:none}li{list-style:none}img{border:none}textarea{resize:none}
body{color:#666;background:#fff;word-break:break-all;word-wrap:break-word;}
body,input,textarea,button{font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1,Verdana,Arial}
a{color:#305999;text-decoration:none;outline:none}
a:hover{color:#090}
*{word-break: break-word;}
/*comm===================================================================*/
.hide{display: none }
.hide-important{display: none !important;}
.cursor-pointer{cursor: pointer;}
.cursor-move{cursor: move;}
.cursor-arrow{cursor: auto;}
.transparent{opacity: 0;}
.opaque{opacity: 1;}
.radius{border-radius:2px;}
.close{width: 24px;height: 24px; position: absolute;font: 18px "microsoft yahei"; right: 0px;top: 0px;color: #f1a703;}
.close:hover{color: #000000;}
.container{position: relative;left: 0px;top: 0px;width: 1024px;height: 580px; margin: 0px auto;overflow: hidden;}
.z-index-1{z-index: 1;}
.z-index-2{z-index: 2;}
.z-index-3{z-index: 3;}
.z-index-5{z-index: 5;}
.z-index-6{z-index: 6;}
.z-index-10{z-index: 10;}
.z-index-12{z-index: 12;}
.z-index-13{z-index: 13;}
.z-index-14{z-index: 14;}
.z-index-15{z-index: 15;}
.z-index-16{z-index: 16;}
.z-index-50{z-index: 50;}
.z-index-98{z-index: 98;}
.z-index-99{z-index: 99;}
.z-index-100{z-index: 100;}
/*header==================================================================*/
.header{position: relative;left: 0px;top: 0px; width: 100%;height: 50px;border-bottom: 1px solid #c9c9c9;background: #f8f8f8;}
.header button{display: inline-block;position:relative;top:26px;left:20px;width: 92px;height: 25px;text-align: center;line-height: 25px;}
.header .sys-button{width: 82px;height:25px;position:absolute;top:26px;right: 20px;text-align: center;}
.header .sys-button:after{content: '';clear: both;}
.header span{float: left;width: 40px;}
	/*hover*/
.header span:hover{color: #fdb513;}
.header-help{border-right:1px solid black;}
.header-exit{}
.header-navi-bg{background:url(../images/comm_icon/navi_bg.png) no-repeat;color: #FFFFFF;}
/*main==========================================================================================================================*/
body{width: 1024px;height: 530px;position: relative;left: 0px;top: 0px;}
.main{width: 100%;height: 530px;position: relative;left: 0px;top: 0px; background: url(../images/body_bg.png) no-repeat center/100%;overflow: hidden;}
/*navi-------------------------------------------------------------------------------------*/
.sideBar-navi{width:162px;height:290px;position: absolute;top: 25px;left:-137px;}
.sideBar-navi-button{width:25px;height:111px;position: absolute;top: 75px;right:0px;background:url(../images/comm_icon/navi_btn_bg_out.png) no-repeat center;}
.sideBar-navi-panel{width: 137px;height: 100%;position: absolute;top: 0px;left: 0px;background: #e1e1e1;box-shadow: -8px 2px 8px #65696a;}
.sideBar-navi-panel ul{display:block;width: 105px;height: 246px;margin: 25px auto;}
.sideBar-navi-panel ul li{display:block;width:105px;height: 30px;margin-bottom:23px;}
.sideBar-navi-panel ul li button{width: 100%;height: 100%;position:relative;left:0px;top:0px;background: #f1a703;color: #FFFFFF;line-height: 30px;}
.sideBar-navi-panel ul li button i{display:block;width: 7px;height: 7px;position:absolute;left:12px;top:11.5px;border-radius:7px;background: #FFFFFF;}
	/*active*/
.sideBar-navi-panel ul li.active button{background: #000000;}
/*.sideBar-navi-panel ul li.active button i{background: #f1a703;}*/

/*tool-------------------------------------------------------------------------------------*/
.sideBar-tool{width: 162px;height: 290px;position: absolute;top: 25px;right: -137px;}
.sideBar-tool-button{width: 25px;height: 111px;position: absolute;top: 75px;left: 0px;background: url(../images/comm_icon/tool_btn_bg_out.png) no-repeat center;}
.sideBar-tool-panel{width: 137px;height: 100%;position: absolute;top: 0px;right: 0px;background: #e1e1e1;box-shadow: 8px 2px 8px #65696a;}
.sideBar-tool-panel ul{display: block;width: 110.5px;height: 240px;margin: 25px auto;}
.sideBar-tool-panel ul li{width: 50px;height: 50px;margin:0px 2.5px 13px;float: left;}

.sideBar-tool-panel ul li button{display:block;width: 100%;height: 100%;border: 1px solid #f1a703;}
	/*tool img*/
.right-diagnostic{background: url(../images/tool/diagnostic/diagLogo_1.png) no-repeat center;}
.right-multimeter{background: url(../images/tool/multimeter/multLogo_1.png) no-repeat center;}
.right-vacuumPump{background: url(../images/tool/vacuumPump/vacuLogo_3.png) no-repeat center;}
.right-airGun{background: url(../images/tool/airGun/gunLogo_3.png) no-repeat center;}
.right-wireCutter{background: url(../images/tool/wireCutter/wireCutter_3.png) no-repeat center;}
.right-pinchClamp{background: url(../images/tool/pinchClamp/pinchClamp_3.png) no-repeat center;}
.right-cylinderPressure{background: url(../images/tool/cylinderPressure/cylinderPressure_3.png) no-repeat center;}
.right-fuelPressure{background: url(../images/tool/fuelPressure/fuelPressure_3.png) no-repeat center;}

	/*tool active*/
.sideBar-tool-panel ul li.active .right-diagnostic{background: url(../images/tool/diagnostic/diagLogo_2.png) no-repeat center;}
.sideBar-tool-panel ul li.active .right-multimeter{background: url(../images/tool/multimeter/multLogo_2.png) no-repeat center;}
/*.sideBar-tool-panel ul li.active .right-vacuumPump{background: url(../images/tool/vacuumPump/vacuLogo_2.png) no-repeat center;}
.sideBar-tool-panel ul li.active .right-airGun{background: url(../images/tool/airGun/gunLogo_2.png) no-repeat center;}*/
	/*tool face*/
/*.airGunFace{width:84px;height:150px;position: absolute;left: 700px;top: 40px;background: url(../images/airGun1.png) no-repeat center/100%;}
.vacuumPumpFace{width: 160px;height: 150px;position: absolute;left: 500px;top: 40px;background: url(../images/vacuumPump.png) no-repeat center/100%;}
.vacuumPumpFace img.vacuumPumpPointer{width:25px;position: absolute;right: 18px;top:13px;}*/
/*lock---------------------------------------------------------------*/
.bottomBar-lock{position: absolute;left: 0px;bottom: -63px;width: 199px;height: 90px;}
.bottomBar-lock .bottomBar-lock-button{position:relative;left:0px;top:0px;width: 105px;height: 26px;margin-left: 4px;background: #F1A703 url(../images/comm_icon/lock_icon_up.png) no-repeat 8px 5px;color: #FFFFFF;line-height: 26px;text-indent: 14px;}
.bottomBar-lock .bottomBar-lock-panel{position:relative;0px;top:0px;width: 100%;height: 64px;text-align: center;}
.bottomBar-lock .bottomBar-lock-panel ul li{display:inline-block;width: 55px;height: 55px;margin: 3px;border: #F1A703 solid 1px;background: #ccc;}
.bottomBar-lock .bottomBar-lock-panel ul li button{width:100%;height:100%;color: #000000;font:12px "microsoft yahei";}
.bottomBar-lock .bottomBar-lock-panel ul li .door-switch{background: url(../images/door_switch_icon.png) no-repeat center/100%;}
.bottomBar-lock .bottomBar-lock-panel ul li .wifi-switch{background: url(../images/wifi_switch_icon.png) no-repeat center/100%;}
.bottomBar-lock .bottomBar-lock-panel ul li .key-switch{background: url(../images/key_switch_icon.png) no-repeat center/100%;}
.bottomBar-lock ul li.active button.door-switch{background: url(../images/door_switch_icon_active.png) no-repeat center/100%;}
.bottomBar-lock ul li.active button.wifi-switch{background: url(../images/wifi_switch_icon_active.png) no-repeat center/100%;}
.bottomBar-lock ul li.active button.key-switch{background: url(../images/key_switch_icon_active.png) no-repeat center/100%;}

	/*lock panel*/
.door-switch-panel,.wifi-switch-panel,.key-switch-panel{position: absolute;left: 4px;top: 292px;overflow: hidden;opacity: 1;}
.switch-panel-mask{position:absolute;left:0px;top:0px;width: 0%;height: 100%;background: #CCCCCC;opacity: 0.3;}
		/*door*/	
.door-switch-panel{border: 1px solid #fdb513;width: 160px;height: 145px;background: #e1e1e1 url(../images/door_switch_bg.png) no-repeat center;}	
.door-switch-panel img{display: block;margin: 47px auto;}
.door-switch-panel span{background: rgba(0,0,0,0);display:inline-block;position: absolute; width: 60px;height: 54px;}
.door-switch-panel span.door-switch-panel-open{left: 18px;top: 43px;} 
.door-switch-panel span.door-switch-panel-lock{left: 80px;top: 43px;}
		/*wifi*/
.wifi-switch-panel{border: 1px solid #fdb513;width: 160px;height: 145px;background: #e1e1e1 url(../images/wifi_switch.png) no-repeat 5px 10px;}	
.wifi-switch-panel img{width: 100%;}
.wifi-switch-panel span{display:inline-block;position: absolute; width: 53px;height: 31px;background: rgba(0,0,0,0);}
.wifi-switch-panel span.wifi-switch-panel-open{left: 56px;top: 81px;background: url(../images/principle_sprite.png) no-repeat -110px 0px;} 
.wifi-switch-panel span.wifi-switch-panel-lock{left: 54px;top: 37px;background: url(../images/principle_sprite.png) no-repeat 0px 0px;;}
		/*key*/
.key-switch-panel{border: 1px solid #fdb513;width: 160px;height: 145px;background: #e1e1e1 url(../images/key_switch.png) no-repeat center/100%;}	
.key-switch-panel img{display: block;margin: 44px 73px;transform: rotate(0deg);}
.key-switch-panel span{display:inline-block;position: absolute; width: 28px;height: 22px;}
.key-switch-panel span.key-switch-panel-open{left: 103px;top: 10px;background: url(../images/principle_sprite.png) no-repeat -224px 1px;} 
.key-switch-panel span.key-switch-panel-lock{left: 53px;top: 10px;background: url(../images/principle_sprite.png) no-repeat -283px 1px;}
/*系统弹出框 =====================================================================================================*/
.system-model{width: 100%;height: 530px;position:relative;left:0;top:0px;}
/*.system-model-circuit{width: 100%;height: 530px;position:relative;left:0;top:0px;}
.system-model-principle{width: 100%;height: 530px;position:relative;left:0;top:0px;}*/
.alert-contain{width: 462px;height: 302px;position: absolute;left:25%;top:20%;border: 1px solid black;background: #E1E1E1;color: #000000;}
.alert-contain .close{right: 2px;top: 2px;}



/*清除故障弹出警告框 =====================================================================================================*/
.clearMalFunctionAlert-contain{width: 1025px;height: 529px;position: absolute;left:1px;top:52px;background: rgba(0,0,0,0.5);}
.clearMalFunctionAlert-contain span.clearMalFunctionAlert-alert{display:block;width: 300px;height: 200px;background: #212121;margin:150px auto;text-align: center;}
.clearMalFunctionAlert-contain span.clearMalFunctionAlert-alert p{width: 100%;position:relative;top:50px;left:0px;line-height: 24px;font: 14px "microsoft yahei";color: #FFFFFF;}
.clearMalFunctionAlert-contain span.clearMalFunctionAlert-alert button{width: 80px;height:30px;background: #000000;color: #FFFFFF;position: relative;top: 120px;}
.clearMalFunctionAlert-contain span.clearMalFunctionAlert-alert button:hover{background: #FFFFFF;color: #000000;}
/*此功能不可用弹出警告框 ==========================================================================================================*/
.resistanceWarn{width: 1025px;height: 529px;position: absolute;left:0px;top:51px;background: rgba(0,0,0,0.5);}
.resistanceWarn span.resistanceWarn-alert{display:block;width: 300px;height: 200px;background: #212121;margin:150px auto;text-align: center;}
.resistanceWarn span.resistanceWarn-alert p{width: 100%;position:relative;top:50px;left:0px;line-height: 24px;font: 14px "microsoft yahei";color: #FFFFFF;}
.resistanceWarn span.resistanceWarn-alert button{width: 80px;height:30px;background: #000000;color: #FFFFFF;position: relative;top: 120px;}
.resistanceWarn span.resistanceWarn-alert button:hover{background: #FFFFFF;color: #000000;}




