<div class="obdscan_body">
    <div class="obdscan_sidebar">车型选择>艾瑞泽7>手动选择</div>
    <div class="obdscan_close" ng-click="toolShowOrClose(1,0)">X</div>
    <div class="obdscan_menu_left">
        <ul>
            <li>风云</li>
            <li>旗云/旗云2</li>
            <li>新东方之子</li>
            <li class="active">艾瑞泽7</li>
            <li>E3</li>
            <li></li>
        </ul>
    </div>
    <div class="obdscan_menu_arrow">
        <span></span>
    </div>
    <div class="obdscan_menu_right">
        <ul>
            <li class="cursor_pointer" ng-click="obdscanPageGoto(1)">发动机控制系统</li>
            <li>自动变速箱系统</li>
            <li>防抱死刹车系统</li>
            <li>安全气囊系统</li>
            <li>车身控制系统</li>
            <li>组合仪表系统</li>

        </ul>
    </div>
    <div class="obdscan_menu_bottom">
        <img src="images/tool/obdscan/obdscan_btn1.png">
        <img src="images/tool/obdscan/obdscan_btn2.png">
        <img src="images/tool/obdscan/obdscan_btn3.png">
        <img src="images/tool/obdscan/obdscan_btn4.png">
        <img src="images/tool/obdscan/obdscan_btn5.png">
        <img src="images/tool/obdscan/obdscan_btn6.png">
        <img src="images/tool/obdscan/obdscan_btn13.png">
        <img src="images/tool/obdscan/obdscan_btn8.png">
        <img src="images/tool/obdscan/obdscan_btn12.png">


    </div>
</div>