<div class="obdscan_body">
    <div class="obdscan_sidebar">车型选择>艾瑞泽7>手动选择>发动机控制系统>动作测试</div>
    <div class="obdscan_close" ng-click="toolShowOrClose(1,0)">X</div>
    <div class="obdscan_main">
        <div class="obdscan_data_list1">
            <ul>
                <li>
                    碳罐电磁阀
                </li>
                <li>
                    燃油汞继电器
                </li>
                <li>
                    油门刀片
                </li>
                <li>
                    进气凸轮轴控制
                </li>
                <li>
                    MIL
                </li>
                <li>
                    SVS
                </li>
                <li>
                </li>
            </ul>
        </div>
    </div>
    <div class="obdscan_menu_bottom">
        <img src="images/tool/obdscan/obdscan_btn1.png">
        <img src="images/tool/obdscan/obdscan_btn2.png">
        <img src="images/tool/obdscan/obdscan_btn3.png">
        <img src="images/tool/obdscan/obdscan_btn4.png">
        <img src="images/tool/obdscan/obdscan_btn5.png">
        <img src="images/tool/obdscan/obdscan_btn6.png">
        <img src="images/tool/obdscan/obdscan_btn13.png">
        <img src="images/tool/obdscan/obdscan_btn8.png">
        <img src="images/tool/obdscan/obdscan_btn9.png" class="cursor_pointer" ng-click="obdscanPageGoto(1)">


    </div>
</div>