<div class="obdscan_body">
    <div class="obdscan_sidebar">车型选择>艾瑞泽7>手动选择>发动机控制系统>清除故障码</div>
    <div class="obdscan_close" ng-click="toolShowOrClose(1,0)">X</div>
    <div class="obdscan_content_text1">
        要清除所有故障码?
    </div>
    <div class="obdscan_menu_bottom">
        <img src="images/tool/obdscan/obdscan_btn1.png">
        <img src="images/tool/obdscan/obdscan_btn2.png">
        <img class="float_right cursor_pointer" src="images/tool/obdscan/obdscan_btn11.png"  ng-click="obdscanPageGoto(6)">
        <img class="float_right cursor_pointer" src="images/tool/obdscan/obdscan_btn10.png"  ng-click="obdscanPageGoto(1)">

    </div>
</div>