<div class="obdscan_body">
    <div class="obdscan_sidebar">车型选择>艾瑞泽7>手动选择>发动机控制系统>读取数据流</div>
    <div class="obdscan_close" ng-click="toolShowOrClose(1,0)">X</div>
    <div class="obdscan_data_title">
        <span>名称</span><span>当前值</span><span>单位</span>
    </div>
    <div class="obdscan_data_list" >
        <ul>
            <li>
                <span>发动机转速</span><span class="engine_speed_data">0</span><span>rpm</span>
            </li>
            <li>
                <span>目标怠速</span><span>800</span><span>rpm</span>
            </li>
            <li>
                <span>电瓶电压</span><span>12.25</span><span>v</span>
            </li>
            <li>
                <span>环境温度</span><span>7</span><span>°C</span>
            </li>
            <li>
                <span>进气温度</span><span>25</span><span>°C</span>
            </li>
        </ul>
    </div>

    <div class="obdscan_menu_bottom">
        <img src="images/tool/obdscan/obdscan_btn1.png">
        <img src="images/tool/obdscan/obdscan_btn2.png">
        <img src="images/tool/obdscan/obdscan_btn3.png">
        <img src="images/tool/obdscan/obdscan_btn4.png">
        <img src="images/tool/obdscan/obdscan_btn5.png">
        <img src="images/tool/obdscan/obdscan_btn6.png">
        <img src="images/tool/obdscan/obdscan_btn7.png" class="cursor_pointer" ng-click="dataGotoPage('next')">
        <img src="images/tool/obdscan/obdscan_btn8.png">
        <img src="images/tool/obdscan/obdscan_btn9.png" class="cursor_pointer" ng-click="obdscanPageGoto(1)">


    </div>
</div>