<div class="obdscan_body">
    <div class="obdscan_sidebar">车型选择>艾瑞泽7>手动选择>发动机控制系统>读取数据流</div>
    <div class="obdscan_close" ng-click="toolShowOrClose(1,0)">X</div>
    <div class="obdscan_data_title">
        <span>名称</span><span>当前值</span><span>单位</span>
    </div>
    <div class="obdscan_data_list" >
        <ul>
            <li>
                <span>发动机水温</span><span>80</span><span>°C</span>
            </li>
            <li>
                <span>前氧传感器电压</span><span id="malfunctionData">0.36</span><span>V</span>
            </li>
            <li>
                <span>节气门开度</span><span>12.25</span><span>%</span>
            </li>
            <li>
                <span>节气门1的位置信号</span><span>3.01</span><span>%</span>
            </li>
            <li>
                <span>节气门2的位置信号</span><span>3.25</span><span>%</span>
            </li>
        </ul>
    </div>

    <div class="obdscan_menu_bottom">
        <img src="images/tool/obdscan/obdscan_btn1.png">
        <img src="images/tool/obdscan/obdscan_btn2.png">
        <img src="images/tool/obdscan/obdscan_btn3.png">
        <img src="images/tool/obdscan/obdscan_btn4.png">
        <img src="images/tool/obdscan/obdscan_btn5.png">
        <img src="images/tool/obdscan/obdscan_btn6.png">
        <img src="images/tool/obdscan/obdscan_btn13.png">
        <img src="images/tool/obdscan/obdscan_btn14.png" class="cursor_pointer" ng-click="dataGotoPage('pre')">
        <img src="images/tool/obdscan/obdscan_btn9.png" class="cursor_pointer" ng-click="obdscanPageGoto(1)">


    </div>
</div>