<div class="obdscan_body">
    <div class="obdscan_sidebar">车型选择>艾瑞泽7>手动选择>发动机控制系统</div>
    <div class="obdscan_close" ng-click="toolShowOrClose(1,0)">X</div>
    <div class="obdscan_menu_left">
        <ul>
            <li>风云</li>
            <li>旗云/旗云2</li>
            <li>新东方之子</li>
            <li class="active">艾瑞泽7</li>
            <li>E3</li>
            <li></li>
        </ul>
    </div>
    <div class="obdscan_menu_arrow">
        <span></span>
    </div>
    <div class="obdscan_menu_right">
        <ul>
            <li class="cursor_pointer" ng-click="obdscanPageGoto(4)">当前故障码</li>
            <li class="cursor_pointer" ng-click="obdscanPageGoto(5)">清除故障码</li>
            <li class="cursor_pointer" ng-click="obdscanPageGoto(2)">读取数据流</li>
            <li class="cursor_pointer" ng-click="obdscanPageGoto(7)">动作测试</li>
            <li>读取版本信息</li>
            <li></li>

        </ul>
    </div>
    <div class="obdscan_menu_bottom">
        <img src="images/tool/obdscan/obdscan_btn1.png">
        <img src="images/tool/obdscan/obdscan_btn2.png">
        <img src="images/tool/obdscan/obdscan_btn3.png">
        <img src="images/tool/obdscan/obdscan_btn4.png">
        <img src="images/tool/obdscan/obdscan_btn5.png">
        <img src="images/tool/obdscan/obdscan_btn6.png">
        <img src="images/tool/obdscan/obdscan_btn13.png">
        <img src="images/tool/obdscan/obdscan_btn8.png">
        <img src="images/tool/obdscan/obdscan_btn9.png" class="cursor_pointer" ng-click="obdscanPageGoto(0)">


    </div>
</div>