@import "_mixin","_variables";
/*reset css*/
@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,p{margin:0;padding:0;border:none;background: none;}
input,button,select,textarea{outline:none}li{list-style:none}img{border:none}textarea{resize:none}
body{color:#666;background:#fff;word-break:break-all;word-wrap:break-word;}
body,input,textarea,button{font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1,Verdana,Arial}
a{color:#305999;text-decoration:none;outline:none}
a:hover{color:#090}
*{word-break: break-word;}
/*comm======================================================================*/
.hide{display: none }
.hide-important{display: none !important;}
.cursor-pointer{cursor: pointer;}
.cursor-move{cursor: move;}
.cursor-arrow{cursor: auto;}
.transparent{opacity: 0;}
.opaque{opacity: 1;}
.radius{border-radius:2px;}
.close{
    width: 24px;
    height: 24px;
    position: absolute;
    font:$fontClose;
    right: 0px;
    top: 0px;
    color: $colorOrange;
    &:hover{
       color: $colorBlack; 
    }
}
.z-index-1{z-index: 1;}
.z-index-2{z-index: 2;}
.z-index-3{z-index: 3;}
.z-index-5{z-index: 5;}
.z-index-6{z-index: 6;}
.z-index-10{z-index: 10;}
.z-index-12{z-index: 12;}
.z-index-13{z-index: 13;}
.z-index-14{z-index: 14;}
.z-index-15{z-index: 15;}
.z-index-16{z-index: 16;}
.z-index-50{z-index: 50;}
.z-index-98{z-index: 98;}
.z-index-99{z-index: 99;}
.z-index-100{z-index: 100;}
body{width: 1024px;height: 580px;position: relative;left: 0px;top: 0px;}
.container{position: relative;left: 0px;top: 0px;width: 1024px;height: 580px; margin: 0px auto;overflow: hidden;}
/*header==================================================================*/
.header{
    position: relative;
    left: 0px;
    top: 0px; 
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #c9c9c9;
    background: #f8f8f8;
    button{
        display: inline-block;
        position:relative;
        top:26px;
        left:20px;
        width: 92px;
        height: 25px;
        text-align: center;
        line-height: 25px;
    };
    .sys-button{
        width: 82px;
        height:25px;
        position:absolute;
        top:26px;
        right: 20px;
        text-align: center;
        &:after{
           content: '';
           clear: both; 
        };
        @at-root .header-help{
            border-right:1px solid black;
        }
    };
    span{
        float: left;
        width: 40px;
        &:hover{
            color: #fdb513;
        };
    };
    @at-root .header-navi-bg{
        background:url(../images/comm_icon/navi_bg.png) no-repeat;
        color: $colorWhite;
    }
}
/*main==========================================================================================================================*/
.main{
    width: 100%;
    height: 530px;
    position: relative;
    left: 0px;top: 0px;
    background: url(../images/body_bg.png) no-repeat center/100%;
    overflow: hidden;
}
/*navi-------------------------------------------------------------------------------------*/
.sideBar-navi{
    width:162px;
    height:290px;
    position: absolute;
    top: 25px;
    left:-137px;
    .sideBar-navi-button{
        width:25px;
        height:111px;
        position: absolute;
        top: 75px;
        right:0px;
        background:url(../images/comm_icon/navi_btn_bg_out.png) no-repeat center;
    };
    .sideBar-navi-panel{
        width: 137px;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background: #e1e1e1;
        box-shadow: -8px 2px 8px $colorBoxShadow;
        ul{
            display:block;
            width: 105px;
            height: 246px;
            margin: 25px auto;
            li{
                display:block;
                width:105px;
                height: 30px;
                margin-bottom:23px;
                button{
                    width: 100%;
                    height: 100%;
                    position:relative;
                    left:0px;
                    top:0px;
                    background: $colorOrange;
                    color: $colorWhite;
                    line-height: 30px;
                    i{
                        display:block;
                        width: 7px;
                        height: 7px;
                        position:absolute;
                        left:12px;
                        top:11.5px;
                        border-radius:7px;
                        background: $colorWhite;
                    };
                };
                &.active{
                    button{
                       background: $colorButtonActive; 
                    }
                }
            };
        };
    }
}
/*tool-------------------------------------------------------------------------------------*/
.sideBar-tool{
    width: 162px;
    height: 290px;
    position: absolute;
    top: 25px;
    right: -137px;
    .sideBar-tool-button{
        width: 25px;
        height: 111px;
        position: absolute;
        top: 75px;
        left: 0px;
        background: url(../images/comm_icon/tool_btn_bg_out.png) no-repeat center;
    };
    .sideBar-tool-panel{
        width: 137px;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        background: $colorBodyGray;
        box-shadow: 8px 2px 8px $colorBoxShadow;
        ul{
            display: block;
            width: 110.5px;
            height: 240px;
            margin: 25px auto;
           li{
               width: 50px;
               height: 50px;
               margin:0px 2.5px 13px;
               float: left;
               button{
                    display:block;
                    width: 100%;
                    height: 100%;
                    border: 1px solid $colorOrange;
                   /*tool img*/
                    background-image: url(../images/tool/sprite_tool.png);
                    background-repeat: no-repeat;
                   @at-root{
                       .right-diagnostic{background-position: -1px 0px;};
                       .right-multimeter{background-position: -55px 0px;}
                       .right-vacuumPump{background-position: -110px -110px;}
                       .right-airGun{background-position: -163px -110px;}
                       .right-wireCutter{background-position: -216px -110px;}
                       .right-pinchClamp{background-position: -271px -110px;}
                       .right-cylinderPressure{background-position: -324px -110px;}
                       .right-fuelPressure{background-position: -379px -110px;}
                   };
                };
                /*tool active*/
                &.active .right-diagnostic{background-position: -1px -54px;}
                &.active .right-multimeter{background-position: -55px -54px;}
            };
        };
    };
}
/*系统弹出框 =====================================================================================================*/
.alert-contain{
    width: 462px;
    height: 302px;
    position: absolute;
    left:25%;
    top:20%;
    border: 1px solid black;
    background: $colorBodyGray;
    color: #000000;
    .close{
        right: 2px;top: 2px;
    }
}


/*清除故障弹出警告框 =====================================================================================================*/
//.clearMalFunctionAlert{
//  @include warnAlert(clearMalFunctionAlert);
//}
/*此功能不可用  弹出警告框 ==========================================================================================================*/
.resistanceWarn{
    @include warnAlert(resistanceWarn);//里面为弹出框的名字，与调用的父样式名字一样（现在为所有全屏弹出框共用样式）
}

/*故障工作状态和正常工作状态标示框*/
.worker-state{display: block;width: 120px;height: 23px;position: absolute;left: 850px;top: 34px;text-align:center;line-height: 23px;color:#FFFFFF;}
.worker-state-normal{background: $colorWorkerStateNormal;}
.worker-state-malfunction{background: $colorWorkerStateMalfunction;}


/*弹出小页面的模板=======================================================================================================*/
.alertContent{
    .alert-header{
        height: 30px;
        border-bottom: 1px solid #000000;
        ul.alert-body-navi{
            display:block;
            width: 93%;
            height: 21px;
            position: absolute;
            left:10px;
            top: 9px;
            text-align: left;
            li{
                display:inline-block;
                width: 81px;
                height: 21px;
                line-height: 21px;
                background: rgba(0,0,0,0);
                color: #000000;
                text-align: center;
                &.active{
                    background:url(../images/comm_icon/alert_nabvi_btn.png) no-repeat center/100%;
                    color: #FFFFFF;
                }
            }
        }
    }
    .alert-body{
        width: 100%;
        height: 271px;
        .alert-body-content{
            margin-top:10px;
            width: 100%;
            height:225px;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .alert-body-content-test{
            height:225px;
        }
    }
    .alert-footer{
        width: 100%;
        height: 30px;
        position:absolute;
        bottom:0px;
        left:0px;
        .goCheck{
            @extend %normalbutton;//进入故障按钮公用样式
            left:60px;
            top:0px;
        }
        .goClear{
            @extend %normalbutton;//进入故障按钮公用样式
            right:60px;
            top:0px;
        }
        /*置灰样式*/
        .goDisable{
            background: $colorButtonDisable;
            &:hover{
                background: $colorButtonDisable;
            }
        }
    }
}


/*元件测量（选择跳转的模板）------------------*/
.alert-body-choice{
    width:90%;
    margin: 0px auto;
    font-size: 12px;
    line-height: 22px;
    p{
        text-indent: 24px;
        //      .sysPrinciple-front{width: 50%;float: left;}
        //      .sysPrinciple-behind{width: 50%;float: right;}
        //      .sysPrinciple-behind::after{content: "";clear: both;}
    }
    b{
        font-weight: normal;
    }
    span{
        padding: 0px 24px;
        color: #305999;
        text-decoration: underline;
        cursor: pointer;
        text-indent: 24px;
    }
    img.systemComposition{
        width: 100%;
    }
    @at-root .systemCompositionBig{
        width: 1024px;
        height: 529px;
        position: absolute;
        top:52px;
        left:3px ;
        img{
            width: 1024px;
            height: 529px;
        }
    }
}
/*弹出框里面点击链接的信息解释页面--------------------------*/
.alert-body-info{
    width:90%;
    margin: 0px auto;
    span{
        //      display:inline-block;
        width: 100%;
    }
    b{
        display: block;
        text-indent: 18px;
        font-size: 12px;
        line-height:22px;
    }
    p{
        text-indent: 18px;
        font-size: 12px;
        line-height:22px;
        span.bold{
            font-weight: bold;
        }
    }
    img.all{//左侧导航弹出框中 图片展现为宽100%
        display:inline-block;
        float:left;
        margin-right:10px;
        width: 100%;
    }
    img.half{//左侧导航弹出框中 图片展现为宽50%
        display:inline-block;
        float:left;
        margin-right:10px;
        width: 50%;
    }
    .goBack{
        display: block;
        width: 70px;
        height: 25px;
        position:absolute;
        right:50px;
        bottom:2px;
        background: $colorOrange;
        text-align: center;
        line-height:25px;
        color: $colorWhite;
        &:hover{
            background: rgba(0,0,0,0.8);
        }
    }
}
/*文本内容------------------*/
.alert-body-text{
    width:90%;
    margin: 0px auto;
    span{
        display:inline-block;
        b{
            display: block;
            text-indent: 18px;
            font-size: 12px;
            line-height:22px;
        }
        p{
            text-indent: 18px;
            font-size: 12px;
            line-height:22px;
            span{
                display:inline;
                //在这定义自己需要的特殊样式
                &.red{
                    color:#FF0000;
                }
                &.bold{
                    font-weight:bold;
                }
            }
        }
        img.all{
            display:inline-block;
            float:left;
            margin-right:10px;
            width: 100%;
        }
        img.half{
            display:inline-block;
            float:left;
            margin-right:10px;
            width: 50%;
        }
    }
}
/*选择题---------------------*/
.alert-body-question{
    width:90%;
    margin: 0px auto;
    /*题目的*/
    .question{
        font-size: 12px;
        line-height:22px;
    }
    /*选项的样式*/
    ul.answerChoice{
        height:35px;
        min-height:35px;
        li{
            height: 35px;
            width: 100%;
            min-height: 35px;
            button{
                width:100%;
                padding: 0px;
                text-align: left;
                text-indent: 18px;
                line-height: 30px;
                color: #000000;
                font-size: 12px;
                &:hover{
                    background: $colorChoiceButtonHover;
                    color: #FFFFFF;
                }
                &.active{
                    background: $colorChoiceButtonHover;
                    color: #FFFFFF;
                }
            }
        }
    }
    /*最后答案的样式*/
    .answer-judge{
        display:block;
        width:100%;
        height: 30px;
        position: absolute;
        left:0px;
        bottom:30px;
        line-height: 30px;
        text-align: center;
    }
    /*最后答案答错的样式*/
    .answer-judge-wrong{
        color: $colorChoiceTextColor;
    }
    /*下面提交等按钮样式*/
    .question-footer{
        width:100%;
        height:44px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        font-size: 12px;
        button{
            width: 100px;
            height: 24px;
            margin: 0px 2px;
            background: #F1A703;
            color: #FFFFFF;
            line-height: 24px;
            &.question-submit{
                position: absolute;
                right:0px;
                bottom:0px;
                margin: 10px;
                background: $colorOrange;
            }
            &:hover{
                background: $colorButtonHover;
            }
            &.disable{
                background: $colorButtonDisable;
            }
        }
        .chargeQuesetion{
            width: 215px;
            margin: 10px auto;
        }
    }
}