<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>sbt</title>


    <link rel="stylesheet" href="css/multimeter.css"/>
    <script type="text/javascript" src="framework/jquery-1.8.3.min.js"></script>

</head>

<body  ng-app="multimeterModule">




<div class="contain" id="contain" style="position: relative;" >
<div ng-click="multimeter();" style="width:10px;height:10px; background: #c9c9c9;" ></div>
    <div class="iframe">

    </div>

    <a  style="position:absolute;top:100px;left:100px;width:100px;height:100px; background: #c9c9c9;" ></a>
    <multimeter></multimeter>
</div>

</body>
<script type="text/javascript" src="framework/angular-1.3.0.js"></script>
<script type="text/javascript" src="js/angularJs/apps.js"></script>
<script type="text/javascript" src="framework/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/angularJs/controllers.js"></script>
<script type="text/javascript" src="js/angularJs/Services.js"></script>


<script type="text/javascript">


</script>

</html>
