/**
* @createDate   2015-08-4 下午05:28:38
* @author       hao liqiang
* @email        lq.hao@xiaochejiang.com
* @version      1.0
*万用表表身
*/
<div class="multimeter-contain" ng-controller="multimeterCtrl" ng-show="multimeterServiceMdata.multimeterStatus">
    <div id="mask-multimeter">
        <div class="multimeter" id="hehhe">
            <div class="multimeter-topUnit"  ng-bind="multimeterServiceMdata.multimeterScreenUnit"></div>
            <div class="multimeter-top" ng-bind="greeting.Out1MultiLogic_x_ToScreen_x_x" id="multimeterShowData" align="left"
                  ng-show="multimeterServiceMdata.multimeterScreenStatus"></div>
            <div class="multimeter-topHot" id="multimeter-topHot" ></div>
            <div class="multimeter-bottom"></div>
            <div class="multimeter-off cursor-pointer"  ng-Click="multimeteroff();"></div>
            <div class="multimeter-vv cursor-pointer"  ng-Click="multimetervv();"></div>
            <div class="multimeter-v cursor-pointer"  ng-Click="multimeterv();"></div>
            <div class="multimeter-k cursor-pointer"  ng-Click="multimeterk();"></div>
            <div class="multimeter-nofine cursor-pointer" ng-Click="multimeternofine();"></div>
            <div class="multimeter-AA cursor-pointer"  ng-Click="multimeterAA();"></div>
            <div class="multimeter-A cursor-pointer"  ng-Click="multimeterA();"></div>
            <div class="multimeter-mA cursor-pointer"  ng-Click="multimetermA();"></div>
            <div class="multimeter-Red cursor-pointer"  ng-Click="skipSpeedy(multimeterServiceMdata.w_multimeter_redHtml);"></div>
            <div class="multimeter-black"  ng-Click="skipSpeedy(multimeterServiceMdata.w_multimeter_blackHtml);"></div>
            <div class="multimeter-coe close cursor-pointer"  ng-Click="closemultimeter();">X</div>
        </div>
    </div>
    <div id="hhjmultimeterRed-hotspot" class="hhjmultimeterRed-hotspot ui-draggable" ng-show="multimeterServiceMdata.SvgRedStatus"></div>
    <div id="hhjmultimeterRed" class="multimeterRed" ng-show="multimeterServiceMdata.SvgRedStatus"></div>
    <div id="hhjmultimeterBlack-hotspot" class="hhjmultimeterBlack-hotspot ui-draggable" ng-show="multimeterServiceMdata.SvgBlackStatus"></div>
    <div id="hhjmultimeterBlack" class="multimeterBlack" ng-show="multimeterServiceMdata.SvgBlackStatus"></div>

</div>


