//颜色分类===============================================
//线路 用色------------------------------------
//红色
$colorRed:#ff0000;
//深红
$colorDarkRed:#970000;
//粉色
$colorPink:#f6135f;
//蓝色
$colorBlue:#00b0f0;
//绿色
$colorGreen:#1ad041;
//黄色
$colorYellow:#fff100;
//紫色
$colorPurple:#7030a0;
//深棕
$colorDarkBrown:#817325;
//浅棕
$colorLightBrown:#dfcd61;
//蓝色
$colorBlue:#0070c0;
//绿色
$colorGreen:#1ad041;
//其他地方用色------------------------------------------
//草绿色
$colorGrassGreen:#64af1a;
//西瓜红色
$colorWatermelonRed:#f86f6f;
//黑色
$colorBlack:#000000;
//白色
$colorWhite:#FFFFFF;
//常用橘色
$colorOrange:#f1a703;
//=====================================================================
//header的背景颜色 background-color
$colorHeaderGray:#f8f8f8;
//整体的背景色
$colorBodyGray:#e1e1e1;
//整体阴影的颜色 box-shadow
$colorBoxShadow:#65696a;
//置灰按钮颜色
$colorUnClick:#7e7e7e;
//a标签文字链接颜色
$colorALink:#305999;
//a标签文字链接颜色 移上去颜色:hover
$colorALinkHove:#305999;
//故障工作正常的颜色
$colorWorkerStateNormal:$colorGrassGreen;
//故障工作不正常的颜色
$colorWorkerStateMalfunction:$colorWatermelonRed;
//---------------------------------------------------------
//警告框背景色
$colorWarnBackground:#212121;
//按钮移上去的颜色
$colorButtonHover:#1a1a1a;
//按钮触发状态的颜色
$colorButtonActive:#1a1a1a;
//按钮置灰时的颜色
$colorButtonDisable:#7e7e7e;
//--------------------------------------------------------
//技能测试中选择题移上去的颜色值
$colorChoiceButtonHover:#7e7e7e;
//选择题选错答案显示的字体颜色
$colorChoiceTextColor:$colorRed;
//================================================================
//电路红颜色
$colorLineRed:$colorRed;
//电路粉颜色
$colorLinePink:$colorPink;
//线路棕色
$colorLineBrown:$colorDarkBrown;
//线路蓝色
$colorLineBlue:$colorBlue;
//线路绿色
$colorLineGreen:$colorGreen;
//线路紫色
$colorLinePurple:$colorPurple;
//接受箭头颜色-----------------------------------------------
$colorArrowIn:$colorGreen;
//发出箭头颜色
$colorArrowOut:$colorRed;
//高油路的颜色
$colorHighOilFlow:$colorRed;
//回油油路的颜色
$colorReturnOilFlow:$colorOrange;
//===========================================
//字体=======================================
$fontMicrosoftBlack:14px "microsoft yahei";
$fontClose:18px "microsoft yahei"
//===========================================









