/*系统原理图=======================================================================================================================================================*/
.principle_body{height:530px;}
.principle_body_part{width:186px;height:400px;position: absolute;left: 200px;top: 65px;}
.oilFire{width:64px;position: absolute;left: 60px;top:116px;}
.principleSpark{position: absolute;left: 85px;top: 130px;}
.inOil{position: absolute;left: 60px;top: 101px;}
.fillingOil{position: absolute;left: 60px;top: 126px;}
.exhaustGas{position: absolute;left: -25px;top: 101px;}
.principle_lighter{position: absolute;left: 76px;top: 10px;}
.camshaft_valve_left{width:56px;height:81px;position: absolute;left: 24px;top: 48px;}
.camshaft_valve_left .camshaft_left{position: absolute;left: 2px;top: 0px;}
.camshaft_valve_left .valve_left{width:55px;position: absolute;left: 2px;top: 9px;}
.camshaft_valve_right{width:56px;height:85px;position: absolute;right: 24px;top: 42px;}
.camshaft_valve_right .camshaft_right{position: absolute;right: 2px;top: 0px;}
.camshaft_valve_right .valve_right{width:54px;position: absolute;right: 3px;top: 15px;}
.shaft_valve{width: 102px;height: 168px;position: absolute;left: 41px;top: 145px;}
.shaft_valve .sparking_plug{position: absolute;left:18px;top: 0px;}
.shaft_valve .principle_shaft_stick{position: absolute;left:27px;top: -89px;transform:rotate(0deg);-webkit-transform:rotate(0deg)}
.principle_shaft{position: absolute;left:41px;top: 258px;}
.tubeWall{position: absolute;left: -30px;top: 106px;}
.outline_hotspot1{width: 37px;height: 27px;position: absolute;top: 45px;left: 167px;}
.outline_hotspot2{width: 46px;height: 24px;position: absolute;top: 297px;left: 142px;}
.outline_hotspot3{width: 112px;height: 16px;position: absolute;top: 45px;left: 462px;}

/*线路箭头*/
.principle_arrow_flow i{display: block;position: absolute;width: 0px;height: 0px;border-left:6px solid transparent;border-right: 6px solid transparent;border-top: 10px solid #009900;transform: rotate(0deg);-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);}
.principle_arrow_flow .flow_arrow_1{left: 677px;top: 180px;border-top: 10px solid #FF0000;}
.principle_arrow_flow .flow_arrow_2{left: 689px;top: 180px;transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);}
.principle_arrow_flow .flow_arrow_3{left: 700px;top: 180px;transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);}
.principle_arrow_flow .flow_arrow_4{left: 713px;top: 180px;transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);}

/*系统原理元件----------------------------------------------------------------------*/
.principle_ignitionCoils{width:36px;height: 75px;position:absolute;left: 275px;top:75px;background: #000000;opacity: 0;}
.principle_alert_ignitionCoils{width:135px;height:145px;position: absolute;left: 125px;top: 14px; color: #000000;background: #E1E1E1;border: 1px solid black;}

.principle_sparkPlugs{width:36px;height: 51px;position:absolute;left:275px;top:155px;background: #000000;opacity: 0;}
.principle_alert_sparkPlugs{width:135px;height:145px;position: absolute;left: 125px;top: 165px; color: #000000;background: #E1E1E1;border: 1px solid black;}

.principle_camShaft{width:36px;height: 36px;position:absolute;left:366px;top:105px;background: #000000;opacity: 0;}
.principle_alert_camShaft{width:135px;height:145px;position: absolute;left: 415px;top: 80px; color: #000000;background: #E1E1E1;border: 1px solid black;}

.principle_knock{width:36px;height: 36px;position:absolute;left:333px;top:244px;background: #000000;opacity: 0;}
.principle_alert_knock{width:135px;height:145px;position: absolute;left: 380px;top: 190px; color: #000000;background: #E1E1E1;border: 1px solid black;}

.principle_crankShaft{width:40px;height: 40px;position:absolute;left:345px;top:353px;background: #000000;opacity: 0;}
.principle_alert_crankShaft{width:135px;height:145px;position: absolute;left: 400px;top: 330px; color: #000000;background: #E1E1E1;border: 1px solid black;}

.principle_alert_title{display:block;width: 100%;height: 25px;line-height: 25px;text-align: center;}
.principle_alert_body button{display:block;width: 73%;height: 27px;margin:8px auto;background: #F1A703;color: #FFFFFF;text-align: center;}
.principle_alert_body button:hover{background: #1a1a1a;}
.principle_alert_body button.active{background: #1a1a1a;}
.principle_alert_body button.disable{background:#7e7e7e;-ms-text-shadow: 0px 0px 0px transparent;text-shadow: 0px 0px 0px transparent;}
.principle_alert_body button.disable:hover{background: #7e7e7e;}


/*诊断仪样式===============================================================================================================================================*/

.dashboard_body{width: 493px;height:219px; position: absolute;top: 300px;left: 520px;border: #000 1px solid;background: url(../images/tool/dashboard/dashboard_bg.png) no-repeat;z-index: 11;}
.dashboard_pointer1{width: 89px;height: 81px;position: absolute;top: 83px;left: 102px;background: url(../images/tool/dashboard/dashboard_pointer_big1.png) no-repeat}
.dashboard_pointer2{width: 84px;height: 86px;position: absolute;top: 82px;left: 306px;background: url(../images/tool/dashboard/dashboard_pointer_big2.png) no-repeat}
.dashboard_pointer3{width: 40px;height: 42px;position: absolute;top: 126px;left: 125px;background: url(../images/tool/dashboard/dashboard_pointer_samll1.png) no-repeat}
.dashboard_pointer4{width: 28px;height: 48px;position: absolute;top: 127px;left: 336px;background: url(../images/tool/dashboard/dashboard_pointer_small2.png) no-repeat}
.dashboard_light{width: 65px;height: 86px;position: absolute;top: 76px;left: 209px;background: url(../images/tool/dashboard/dashboard_light.png) no-repeat;display: none;}
.dashboard_lamp{width: 20px;height: 16px;position: absolute;display: none}
.dashboard_lamp_left1{top:121px;left:106px;background: url(../images/tool/dashboard/dashboard_lamp_left1.png) no-repeat}
.dashboard_lamp_left2{top:92px;left:155px;background: url(../images/tool/dashboard/dashboard_lamp_left2.png) no-repeat}
.dashboard_lamp_left3{top:100px;left:144px;background: url(../images/tool/dashboard/dashboard_lamp_left3.png) no-repeat}
.dashboard_lamp_left4{top:108px;left:153px;background: url(../images/tool/dashboard/dashboard_lamp_left4.png) no-repeat}
.dashboard_lamp_left5{top:119px;left:153px;background: url(../images/tool/dashboard/dashboard_lamp_left5.png) no-repeat}
.dashboard_lamp_left6{top:135px;left:162px;background: url(../images/tool/dashboard/dashboard_lamp_left6.png) no-repeat}
.dashboard_lamp_right1{top:114px;left:309px;background: url(../images/tool/dashboard/dashboard_lamp_right1.png) no-repeat}
.dashboard_lamp_right2{top:100px;left:317px;background: url(../images/tool/dashboard/dashboard_lamp_right2.png) no-repeat}
.dashboard_lamp_right3{top:92px;left:331px;background: url(../images/tool/dashboard/dashboard_lamp_right3.png) no-repeat}
.dashboard_lamp_right4{top:93px;left:345px;background: url(../images/tool/dashboard/dashboard_lamp_right4.png) no-repeat}
.dashboard_lamp_right5{top:104px;left:345px;background: url(../images/tool/dashboard/dashboard_lamp_right5.png) no-repeat}
.dashboard_lamp_right6{top:117px;left:356px;background: url(../images/tool/dashboard/dashboard_lamp_right6.png) no-repeat}
.dashboard_lamp_right7{top:117px;left:370px;background: url(../images/tool/dashboard/dashboard_lamp_right7.png) no-repeat}
.dashboard_lamp_right8{top:137px;left:364px;background: url(../images/tool/dashboard/dashboard_lamp_right8.png) no-repeat}
.dashboard_fire_lock1{width: 93px;height: 90px;position: absolute;top: 127px;left: 399px;background: url(../images/tool/dashboard/dashboard_fire_lock1.png) no-repeat}
.dashboard_fire_lock2{width: 93px;height: 90px;position: absolute;top: 127px;left: 399px;background: url(../images/tool/dashboard/dashboard_fire_lock2.png) no-repeat;transform: rotate(-72deg);cursor: pointer;}
.dashboard_close{width: 16px;height: 16px;position: absolute;top: 0px;right:0;background: url(../images/tool/dashboard/dashboard_close.png) no-repeat;z-index:99;cursor: pointer;}


/*奇瑞原理页面svg‘===============================================================================*/

.principle_arrow_red{display: none;}
.principle_arrow_blue{display: none;}
.principle_line_blue{display: block}
/*奇瑞原理页面svg‘===============================================================================*/

.circuit_fire_dhxq1_po{position: absolute;top: 117px;left: 633px;display: none}
.circuit_fire_dhxq2_po{position: absolute;top: 201px;left: 633px;display: none}
.circuit_fire_dhxq3_po{position: absolute;top: 286px;left: 633px;display: none}
.circuit_fire_dhxq4_po{position: absolute;top: 371px;left: 633px;display:none}
/*检查页面‘===============================================================================*/

.detect_rposition{width:166px;height:145px;background: url(../images/detect_rposition.png) no-repeat center/100%; position: absolute;top: 160px;left: 248px;cursor: pointer;z-index: 8;}
.detect_measure_box{position: absolute;top: 301px;left: 105px;width: 391px;height: 230px;}
.detect_measure_close{position: absolute;top:2px;left: 376px;width: 20px;height: 20px;cursor: pointer;z-index: 9;}
.detect_measure_dot{background: url(../images/rposition.png) no-repeat center/100%;position: absolute;width: 20px;height: 20px;z-index: 8}
.detect_measure_dot1{top: 112px;left: 39px;}
.detect_measure_dot2{top: 55px;left: 127px;}
.detect_measure_dot3{top: 55px;left: 150px;}
.detect_measure_dot4{top: 55px;left: 170px;}
.detect_measure_dot5{top: 72px;left: 282px;background: url(../images/rposition1.png) no-repeat center/100%;}
.detect_measure_dot6{top: 72px;left: 301px;}
.detect_measure_dot7{top: 72px;left: 319px;background: url(../images/rposition1.png) no-repeat center/100%;}
.detect_dhxq1_cover{position: absolute;top: 119px;  left: 340px;}





