<div class="alert-body-info">
	<span ng-repeat="info in jInfo">
		<img class="all" ng-class="{'half':info.imgSrc[1]}" ng-src="{{info.imgSrc[0]}}" ng-show="info.imgSrc[0]"/>
		<b ng-repeat="title in info.infoTitle" ng-bind="title"></b>
		<p ng-repeat="text in info.infoText">
			<span ng-class="{red:(text[0]=='1_red'),bold:(text[0]=='1_bold')}" ng-bind="text[1]"></span>
			<span ng-class="{red:(text[0]=='2_red'),bold:(text[0]=='2_bold')}" ng-bind="text[2]"></span>
			<span ng-class="{red:(text[0]=='3_red'),bold:(text[0]=='3_bold')}" ng-bind="text[3]"></span>
		</p>
	</span>
	
	<div class="goBack radius cursor-pointer" ng-click="goBackPre()">返回</div>
</div>
