<!--元件测量-开关总成==============================================================================================-->
<div class="component-alert-component-1 radius z-index-10" ng-show="showOrHide.principleAlertOneComponent">
	<button class="close cursor-pointer z-index-1" ng-click="closeComponent('component-canister')">X</button>
	<div class="component-handle"></div>
	<span class="mist1 test-btn cursor-pointer" ng-mousedown="testMist(1)" ng-mouseup="testMist(0)">
		<img src="images/btn_mist.png" />
	</span>
	<span class="off1 test-btn cursor-pointer btn-active" ng-click="testOff()">
		<img src="images/btn_off.png" />
	</span>
	<span class="int1 test-btn cursor-pointer" ng-click="testInt()">
		<img src="images/btn_int.png" />
	</span>
	<span class="lo1 test-btn cursor-pointer" ng-click="testLower()">
		<img src="images/btn_lo.png" />
	</span>
	<span class="hi1 test-btn cursor-pointer" ng-click="testHigh()">
		<img src="images/btn_hi.png" />

	</span>
	<span class="spray1 test-btn cursor-pointer" ng-mousedown="testSpray(1)" ng-mouseup="testSpray(0)">
		<img src="images/btn_spray.png" />
	</span>
</div>
<div class="component-multimeter-hot z-index-10 hide-important"  ng-show="showOrHide.principleAlertOneComponent">
	<a id="multimeter-hot51" wybredPosition="51" wybblackPosition="51" rqPosition="4138" h_left="212" h_top="505" h_href="dhxq_normal1"></a>
	<a id="multimeter-hot52" wybredPosition="52" wybblackPosition="52" rqPosition="4139" h_left="408" h_top="512" h_href="dhxq_normal1"></a>
	<a id="multimeter-hot53" wybredPosition="53" wybblackPosition="53" rqPosition="4140" h_left="408" h_top="512" h_href="dhxq_normal1"></a>
	<a id="multimeter-hot54" wybredPosition="54" wybblackPosition="54" rqPosition="4141" h_left="408" h_top="512" h_href="dhxq_normal1"></a>
	<a id="multimeter-hot55" wybredPosition="55" wybblackPosition="55" rqPosition="4142" h_left="408" h_top="512" h_href="dhxq_normal1"></a>
	<a id="multimeter-hot56" wybredPosition="56" wybblackPosition="56" rqPosition="4143" h_left="408" h_top="512" h_href="dhxq_normal1"></a>

</div>

<!--元件检测-右前门电动车窗开关========================================================================================================-->
<!--<div class="component-alert-component-2 radius z-index-10 " ng-show="showOrHide.principleAlertTwoComponent">
	<div class="btn8">
		<span class="btn8-up cursor-pointer"  ng-mousedown="controlBtn8(1,'up')" ng-mouseup="controlBtn8(0,'up')"></span>
		<span class="btn8-down cursor-pointer"  ng-mousedown="controlBtn8(1,'down')" ng-mouseup="controlBtn8(0,'down')"></span>
	</div>
	<button class="close cursor-pointer z-index-1" ng-click="closeComponent('component-eleValve')">X</button>
</div>
<div class="component-multimeter-hot z-index-10 hide-important"  ng-show="showOrHide.principleAlertTwoComponent">
	<a id="multimeter-hot51" wybredPosition="51" wybblackPosition="51" rqPosition="4137" h_left="212" h_top="505" h_href="dhxq_normal1"></a>
	<a id="multimeter-hot52" wybredPosition="52" wybblackPosition="52" rqPosition="4136" h_left="408" h_top="512" h_href="dhxq_normal1"></a>
	<a id="multimeter-hot53" wybredPosition="53" wybblackPosition="53" rqPosition="4135" h_left="408" h_top="512" h_href="dhxq_normal1"></a>
	<a id="multimeter-hot54" wybredPosition="54" wybblackPosition="54" rqPosition="4134" h_left="408" h_top="512" h_href="dhxq_normal1"></a>
	<a id="multimeter-hot55" wybredPosition="55" wybblackPosition="55" rqPosition="4133" h_left="408" h_top="512" h_href="dhxq_normal1"></a>
</div>-->
<!--元件检测-左后车门电动车窗开关=========================================================================================================-->
<!--<div class="component-alert-component-3 radius z-index-10 " ng-show="showOrHide.principleAlertThreeComponent">
	<button class="close cursor-pointer z-index-1" ng-click="closeComponent('component-eleValve')">X</button>
	<div class="btn9">
		<span class="btn9-up  cursor-pointer"  ng-mousedown="controlBtn9(1,'up')" ng-mouseup="controlBtn9(0,'up')"></span>
		<span class="btn9-down cursor-pointer"  ng-mousedown="controlBtn9(1,'down')" ng-mouseup="controlBtn9(0,'down')"></span>
	</div>
</div>
<div class="component-multimeter-hot z-index-10 hide-important"  ng-show="showOrHide.principleAlertThreeComponent">
	<a id="multimeter-hot56" wybredPosition="55" wybblackPosition="55" rqPosition="4137" h_left="212" h_top="505" h_href="dhxq_normal1"></a>
	<a id="multimeter-hot57" wybredPosition="56" wybblackPosition="56" rqPosition="4136" h_left="408" h_top="512" h_href="dhxq_normal1"></a>
	<a id="multimeter-hot58" wybredPosition="57" wybblackPosition="57" rqPosition="4135" h_left="212" h_top="505" h_href="dhxq_normal1"></a>
	<a id="multimeter-hot59" wybredPosition="58" wybblackPosition="58" rqPosition="4134" h_left="408" h_top="512" h_href="dhxq_normal1"></a>
	<a id="multimeter-hot60" wybredPosition="59" wybblackPosition="59" rqPosition="4133" h_left="212" h_top="505" h_href="dhxq_normal1"></a>
</div>-->
<!--元件检测-燃油共轨=========================================================================================================-->
<!--<div class="component-alert-component-4 z-index-10 " ng-show="showOrHide.principleAlertFourComponent">
	<button class="close cursor-pointer z-index-1" ng-click="closeComponent('component-eleValve')">X</button>
</div>
<div class="component-multimeter-hot z-index-10 hide-important"  ng-show="showOrHide.principleAlertFourComponent">
	<a id="multimeter-hot55" wybredPosition="55" wybblackPosition="55" rqPosition="4106" h_left="212" h_top="505" h_href="dhxq_normal1"></a>
	<a id="multimeter-hot56" wybredPosition="56" wybblackPosition="56" rqPosition="4107" h_left="408" h_top="512" h_href="dhxq_normal1"></a>
</div>-->
<!--元件检测-共轨压力传感器=========================================================================================================-->
<!--<div class="component-alert-component-5 radius z-index-10 " ng-show="showOrHide.principleAlertFiveComponent">
	<button class="close cursor-pointer z-index-1" ng-click="closeComponent('component-eleValve')">X</button>
</div>
<div class="component-multimeter-hot z-index-10 hide-important"  ng-show="showOrHide.principleAlertFiveComponent">
	<a id="multimeter-hot55" wybredPosition="55" wybblackPosition="55" rqPosition="4106" h_left="212" h_top="505" h_href="dhxq_normal1"></a>
	<a id="multimeter-hot56" wybredPosition="56" wybblackPosition="56" rqPosition="4107" h_left="408" h_top="512" h_href="dhxq_normal1"></a>
</div>-->
<!--元件检测-喷油器=========================================================================================================-->
<!--
<div class="component-alert-component-6 radius z-index-10 " ng-show="showOrHide.principleAlertSixComponent">
	<button class="close cursor-pointer z-index-1" ng-click="closeComponent('component-eleValve')">X</button>
</div>
<div class="component-multimeter-hot z-index-10 hide-important"  ng-show="showOrHide.principleAlertSixComponent">
	<a id="multimeter-hot61" wybredPosition="61" wybblackPosition="61" rqPosition="1003" h_left="212" h_top="505" h_href="dhxq_normal1"></a>
	<a id="multimeter-hot62" wybredPosition="62" wybblackPosition="62" rqPosition="1004" h_left="408" h_top="512" h_href="dhxq_normal1"></a>
</div>
-->
