/*周玉杰 (zyj) 2015-6-12*/
/*reset css*/
@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,p{margin:0;padding:0;border:none;background: none;}
input,button,select,textarea{outline:none}li{list-style:none}img{border:none}textarea{resize:none}
body{color:#666;background:#fff;word-break:break-all;word-wrap:break-word;}
body,input,textarea,button{font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1,Verdana,Arial}
a{color:#305999;text-decoration:none;outline:none}
a:hover{color:#090}
/*comm===================================================================*/






