<ul class="obdscan-menu">
    <li class="active"> <span class="car spanbg" ng-click="changeTemplate('car','obdscanMenu')"><img height="50" src="framework/obdscan/images/qczd.png"/></span></li>
    <li class="inactive"><span class="set"><img src="framework/obdscan/images/xtsz.png" height="50"/></span></li>
    <li class="inactive"><span class="wxzd" ><img src="framework/obdscan/images/wxzd.png" height="50"/></span></li>
    <li class="inactive"><span class="sby" ><img src="framework/obdscan/images/lsjl.png" height="50"/></span></li>
    <li class="inactive"><span class="help"><img src="framework/obdscan/images/sybz.png" height="50"/></span></li>
</ul>
